# $isoroot = /boot/isos

submenu "Lubuntu -> ..." {
    for iso_filepath in ${isoroot}/lubuntu.d/*.iso; do
        if [ ! -e "${iso_filepath}" ]; then break; fi

        regexp \
            --set 1:iso_filename \
            --set 2:version      \
            --set 3:arch         \
            "^${isoroot}/lubuntu.d/(lubuntu-([^-]+)-desktop-(.+)\.iso)\$" "${iso_filepath}"

        menuentry "Lubuntu Desktop ${version} ReadOnly" "${iso_filepath}" "${iso_filename}" --class lubuntu {
            set isofile=$2
            set isoname=$3

            echo "Using ${isoname}... "

            loopback loop ${isofile}
            linux  (loop)/casper/vmlinuz boot=casper iso-scan/filename=${isofile} quiet splash
            initrd (loop)/casper/initrd
        }
    done
}
